<div class="row">
  <div class="row col">
    <div class="col-11 d-flex justify-content-center">
      <table>
        <tr *ngFor="let rowToDisplay of mapBoardForDisplay(board)">
          <td *ngFor="let squareToDisplay of rowToDisplay">
            <div
              class="content"
              [ngClass]="{
                hoverClass:
                  !!squareToDisplay.figure &&
                  canPlay(squareToDisplay.figure) &&
                  !isGameOver(),
                white: !isBlackElseWhite(squareToDisplay),
                black: isBlackElseWhite(squareToDisplay),
                green: isColored(squareToDisplay.color, 'green'),
                blue: isColored(squareToDisplay.color, 'blue'),
                yellow: isColored(squareToDisplay.color, 'yellow'),
                red: isCheck(squareToDisplay.figure)
              }"
              (click)="onClick(squareToDisplay)"
            >
              <img
                *ngIf="!!squareToDisplay.figure"
                class="fit"
                [src]="
                  getUrlOfFigure(
                    squareToDisplay.figure.code,
                    squareToDisplay.figure.color
                  )
                "
              />
            </div>
          </td>
        </tr>
      </table>
      <br />
    </div>
  </div>
  <div class="col-4">
    <app-promotion-selection
      *ngIf="isPromotion"
      (promotionEmitter)="onPromotion($event)"
    ></app-promotion-selection>
  </div>
</div>
<br />
