table {
  width: 90%;
  border-collapse: collapse;
  border: 2px solid black;
}
td {
  width: 12.5%;
  position: relative;
  border: 1px solid black;
}
td:after {
  content: "";
  display: block;
  margin-top: 100%;
}
td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hoverClass:hover {
  border-style: solid;
  color: rgb(75, 75, 75);
}
.black {
  background-image: url("../../../../assets/img/squares/blackSquare.png");
}
.white {
  background-image: url("../../../../assets/img/squares/whiteSquare.png");
}
.green {
  border-style: solid;
  color: rgb(75, 75, 75);
}
.red {
  border-style: solid;
  color: red;
}
.blue {
  border-style: solid;
  color: rgb(75, 75, 75);
}
.yellow {
  border-style: dotted;
  color: rgb(85, 85, 85);
}
.fit {
  width: 100%;
}