<br>
<div class="mx-5">
  <div class="row">
    <div class="col-3">
      <app-info
        [selectedSquare]="selectedSquare"
        [history]="getHistory()"
        [trait]="getTrait()"
        [score]="getScore()"
        [endGameText]="getEndGameText()"
        (newGameEmitter)="onNewGame($event)"
      ></app-info>
    </div>
    <div class="col">
      <app-basic-board
        [board]="getBoard()"
        [trait]="getTrait()"
        [history]="getHistory()"
        [cpuMode]="getCpuMode()"
        [endGameText]="getEndGameText()"
        (endGameEmitter)="onEndGame($event)"
        (squareSelectEmitter)="onSquareSelect($event)"
        (moveEmitter)="onMove($event)"
      ></app-basic-board>
    </div>
  </div>
</div>
<br />
