<div class="d-flex justify-content-center">
  <div>
    <h3>Promotion:</h3>
    <br />
    <button
      type="button"
      class="btn btn-success size"
      (click)="selectFigure('queen')"
    >
      Dame
    </button>
    <br />
    <br />
    <button
      type="button"
      class="btn btn-success size"
      (click)="selectFigure('rook')"
    >
      Tour
    </button>
    <br />
    <br />
    <button
      type="button"
      class="btn btn-success size"
      (click)="selectFigure('knight')"
    >
      Cavalier
    </button>
    <br />
    <br />
    <button
      type="button"
      class="btn btn-success size"
      (click)="selectFigure('bishop')"
    >
      Fou
    </button>
  </div>
</div>
