.info {
  height: 25%;
}
div.scroll {
  background-image: url(../../../../assets/img/histo/histoWallpaper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  height: 300px;
  width: 100%;
  overflow: scroll;
}
