<div class="info">
  <div class="d-flex justify-content-center">
    <h3>{{ infoText() }}</h3>
  </div>
  <div class="d-flex justify-content-center">
    <h2>Blancs: {{ score.white }} - Noirs: {{ score.black }}</h2>
  </div>
</div>
<div class="infoFigure d-flex justify-content-center">
  <div *ngIf="!!selectedSquare && !!selectedSquare.figure">
    <h3>{{ infoFigure() }}</h3>
  </div>
</div>
<br />
<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-success" (click)="onNewGame(false)">
        Nouvelle partie
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-success" (click)="onNewGame(true)">
        Jouer contre l'IA
      </button>
    </div>
  </div>
</div>
<br />
<div class="d-flex justify-content-center">
  <div>
    <h3>Historique de la partie</h3>
    <br />
    <div class="scroll">
      <br />
      <div *ngIf="history.length > 0">
        <div *ngFor="let move of history" class="row mx-2">
          <div class="col-2">
            <b>{{ move.id }}.</b>
          </div>
          <div class="col-4">
            <b>{{ printMove(true, move) }}</b>
          </div>
          <div class="col-4">
            <b>{{ printMove(false, move) }}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
