.info {
  height: 20%;
}
.infoFigure {
  height: 70px;
}
div.scroll {
  background-image: url(../../../../assets/img/histo/histoWallpaper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  height: 250px;
  width: 100%;
  overflow: scroll;
}
