<nav class="navbar-default navbar-custom">
  <div class="row mx-5">
    <div class="col d-flex justify-content-left">
      <img class="fit" [src]="srcLogo" (click)="getRandomLogo()" />
      <div class="fit" (click)="goToWelcome()">&nbsp;AlphaChess</div>
    </div>
    <div class="col">
      <table>
        <tr>
          <td>
            <ul class="nav navbar-nav">
              <li routerLinkActive="active">
                <a routerLink="welcome"> <b class="white">Accueil</b></a>
              </li>
            </ul>
          </td>
          <td>
            <ul class="nav navbar-nav">
              <li routerLinkActive="active">
                <a routerLink="authentification">
                  <b class="white">Authentification</b></a
                >
              </li>
            </ul>
          </td>
          <td>
            <ul class="nav navbar-nav">
              <li routerLinkActive="active">
                <a routerLink="account"> <b class="white">Mon compte</b></a>
              </li>
            </ul>
          </td>
          <td>
            <ul class="nav navbar-nav">
              <li routerLinkActive="active">
                <a routerLink="chess-board"><b class="white">Échiquier</b></a>
              </li>
            </ul>
          </td>
          <td>
            <ul class="nav navbar-nav">
              <li routerLinkActive="active">
                <a routerLink="figures"><b class="white">Pièces</b></a>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="col">
      <div class="navbar-right">
        <p>
          Temps de connexion: {{ secondes }} secondes
        </p>
      </div>
    </div>
  </div>
</nav>
<br />
<router-outlet></router-outlet>
