<div class="container">
  <div class="row">
    <div class="col-2">
      <app-info [selectedSquare]="selectedSquare"></app-info>
    </div>
    <div class="col">
      <div class="col-10">
        <app-basic-board
          [board]="board"
          [selectedSquare]="selectedSquare"
          (squareSelectEmitter)="onSquareSelect($event)"
        ></app-basic-board>
      </div>
    </div>
  </div>
</div>
<br />
<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-success" (click)="showSelectedSquare()">
    voir selectedSquare
  </button>
</div>
<br />
