<div class="mx-5">
  <div class="row">
    <div class="col-3">
      <app-info
        [selectedSquare]="selectedSquare"
        [history]="history"
        [trait]="trait"
        [score]="score"
        [endGameText]="endGameText"
        (newGameEmitter)="onNewGame($event)"
        (newGameAIEmitter)="onNewGameAI($event)"
      ></app-info>
    </div>
    <div class="col">
      <app-basic-board
        [board]="board"
        [trait]="trait"
        [history]="history"
        [cpuMode]="cpuMode"
        [endGameText]="endGameText"
        (endGameEmitter)="onEndGame($event)"
        (squareSelectEmitter)="onSquareSelect($event)"
        (moveEmitter)="onMove($event)"
      ></app-basic-board>
    </div>
  </div>
</div>
<br />
