<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col d-flex justify-content-center">
      <h2 [routerLink]="figureDisplay.name">{{ figureDisplay.name }}</h2>
    </div>
    <div class="col">
      <table>
        <tr>
          <td>
            <img
              class="fit"
              [src]="getUrlOfFigure(figureDisplay.code)"
              [routerLink]="figureDisplay.name"
            />
          </td>
        </tr>
      </table>
    </div>
    <div class="col"></div>
  </div>
</div>
<br />
<br />
